.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  padding: 15px;

  background-color: #f2f2f2;
  border-radius: 15px;
  cursor: pointer;

  & svg {
    height: 16px;
    width: 20px;
  }
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: none;

  background-color: $color-primary;
  cursor: pointer;
}

.drawer {
  width: 100%;
  max-width: 400px;
}
