.list {
  display: flex;
  align-items: center;
  column-gap: 5px;

  margin-top: 40px;

  @include media-up-xl {
    column-gap: 10px;
  }
}

.link a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  transition: background-color $transition-duration $transition-timing-function;

  & svg {
    transition: fill $transition-duration $transition-timing-function;
  }

  &:hover {
    background-color: $color-primary;

    & svg {
      fill: #fff;
    }
  }

  @include media-up-xl {
    background-color: $color-primary;

    &:hover {
      background-color: $color-blue;
    }

    & svg {
      fill: #fff;
    }
  }
}
