$breakpoint-xs: 0px;
$breakpoint-sm: 575px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-primary: "DM Sans", serif;
$font-secondary: "fredoka-one", serif;

$color-blue: #1d458c;
$color-white: #fff;
$color-secondary: #1c2539;
$color-hover: #4172c9;
$color-primary: #20282d;
$color-body: #5d666f;
$color-heading: #1c2539;
$color-heading-dark: #141416;
$color-aprikot: #f26545;

$transition-duration: 0.3s;
$transition-timing-function: ease;
