---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import IntroSection from "../components/IntroSection.astro";
---

<MainLayout title="Home">
  <Hero />

  <IntroSection />

  <div class="temp"></div>
</MainLayout>

<style lang="scss">
  .temp {
    height: 400px;
  }
</style>
