---
import Container from "./Container.astro";
import Navigation from "./Navigation.astro";
import Button from "./Button.astro";
import { DrawerMenu } from "../react-components/DrawerMenu.tsx";

const currentPath = Astro.url.pathname;
---

<header class="container-wrapper">
  <Container>
    <div class="inner-wrapper">
      <img src="/assets/icons/MainLogo.svg" alt="main logo" class="logo" />
      <div class="middle">
        <Navigation />
      </div>

      <div class="buttons-wrapper">
        <div class="btn">
          <Button />
        </div>
        <DrawerMenu currentPath={currentPath} client:load />
      </div>
    </div>
  </Container>
</header>

<div class="test"></div>

<style lang="scss">
  .test {
    height: 3000px;
  }

  .inner-wrapper {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: $color-white;
  }

  .logo {
    width: 130px;

    @include media-up-sm {
      width: 250px;
    }
  }

  .middle {
    display: none;

    @include media-up-xl {
      display: block;
    }
  }

  .buttons-wrapper {
    @include media-up-sm {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }

    @include media-up-md {
      column-gap: 20px;
    }
  }

  .btn {
    display: none;

    @include media-up-sm {
      display: block;
    }
  }
</style>
