---
import { navLinks } from "../data/links";
const currentPath = Astro.url.pathname;
---

<ul class="list">
  {
    navLinks.map((link) => (
      <li>
        <a href={link.url} class={currentPath === link.url ? "active" : ""}>
          {link.title}
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  .list {
    display: flex;
    column-gap: 40px;
  }

  a {
    font-family: $font-primary;
    color: $color-secondary;
    font-weight: 600;
    transition: $transition-duration $transition-timing-function color;

    &:hover {
      color: $color-hover;
    }
  }

  .active {
    color: $color-blue;
  }
</style>
