---
import MainHead from "./MainHead.astro";
import Header from "../components/Header.astro";

import "../styles/globals.scss";
import "../styles/fonts.scss";
import TopBar from "../components/TopBar.astro";

interface MainLayoutProps {
  title: string;
  description: string;
}

const { title, description } = Astro.props as MainLayoutProps;
---

<html lang="de-DE">
  <TopBar />
  <MainHead {title} {description} />
  <body>
    <slot />
  </body>
</html>
